.list {
    width: 600px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.category {
    font-size: 16px;
    margin-left: 50px;
}

.date {
    font-size: 16px;
}

.tags {
    font-size: 16px;
    margin-left: 4px;
}

.abstract {
    font-size: 14px;
}

.line {
    margin-top: 6px;
}
