
/*纵向分割线*/
.vertical-line {
    height: 32px;
    width: 2px;
    background-color: #eeeeee;
    margin: 10px;
}

/*展示数字*/
.number {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    font-family: "Tsukushi B Round Gothic";
}

.desc {
    color: #999999;
    font-size: 14px;
}

.icp {
    font-size:12px;
    color: #333333;
}

.icp:hover {
    font-size: 12px;
    color: #999999;
}

.footer-time {
    font-size:14px;
    color: #999999;
    margin-top: 20px;
}

.github
{ 
    color:#55277e;
}

.mail
{ 
    color: #f67e21;;
}

.npm:hover
{ 
    color:#cb3837;
}

.npm-image {
    width: 28px;
}
