.list {
    width: 600px;
}

/*时间*/
.item-time {
    font-size: 14px;
    color: #888888;
}

/*标题*/
a {
    font-size: 16px;
    color: #000000
}

a:hover {
    font-size:16px;
    color: #999999;
}

/*标签*/
.item-tag {
    font-size: 14px;
}

.item-tag-margin {
    margin-left: 20px;
}

/*摘要*/
.item-abstract {
    font-size: 14px;
}

.body {
    min-height: 600px;
}

.footer {
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
}

/*footer*/
.footer-time {
    font-size:14px;
    color: #999999
}

.footer-power {
    font-size:14px;
    color: #999999
}

.footer-a {
    font-size:12px;
    color: #000000
}

.footer-a:hover {
    font-size:12px;
    color: #999999;
}

.spinner {
    color: #333333;
    font-size: 20px;
}

/*about*/
/*image*/
.about-image {
    width: 300px;
    height: 180px;
}

.about-content {
    color: #999999;
    font-size: 20px;
    margin-top: 4px;
}

.about-contact {
    color: #555555;
    font-size: 16px;
}
